<nav class="navbar navbar-light navbar-expand-md fixed-top bg-light">
  <div class="container"><a class="navbar-brand" href="#"><img src="../assets/images/logo.png" id="logo"><strong>Mom &amp; Pop's </strong>Bakery</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div
          class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav ml-auto">
              <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Cakes</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#">Pricing</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#">Order</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#">Contact Us</a></li>
          </ul>
  </div>
  </div>
</nav>
<div id="promo">
  <div class="jumbotron">
      <h1><strong>Fantastic Offer!</strong><br></h1>
      <p>We have a special treat to our new customers. Order now and get a big discount on your first cake!<br></p>
      <p><a class="btn btn-primary" role="button" href="#">Get 50% Off!</a></p>
  </div>
</div>
<div class="container site-section" id="welcome">
  <h1>Welcome to Mom &amp; Pop's Bakery</h1>
  <p>Mom &amp; Pop's Bakery was founded in Paris in 1993 with the mission of giving great cake to the world. Our dedication and tasty cakes have won us numerous awards. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id purus ipsum.<br></p>
</div>
<div class="dark-section">
  <div class="container site-section" id="why">
      <h1>Why Choose Us<br></h1>
      <div class="row">
          <div class="col-md-4 item"><i class="fa fa-birthday-cake"></i>
              <h2>Great Taste</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id purus ipsum. Aliquam ac orci eleifend, aliquet felis nec.<br></p>
          </div>
          <div class="col-md-4 item"><i class="fa fa-heart"></i>
              <h2>Healthy &amp; Organic</h2>
              <p>Quisque sagittis ligula massa, nec hendrerit felis mollis ultricies. In sagittis semper condimentum.<br></p>
          </div>
          <div class="col-md-4 item"><i class="fa fa-shopping-basket"></i>
              <h2>Next Day Delivery</h2>
              <p>Aliquam ac orci eleifend, aliquet felis nec, commodo elit. Quisque sagittis ligula massa, nec hendrerit felis mollis ultricies.&nbsp;<br></p>
          </div>
      </div>
  </div>
</div>
<div class="container site-section" id="gallery">
  <h1>Gellery</h1>
  <div class="row">
      <div class="col-md-4">
          <div class="card"><a href="../assets/images/desert-1.jpg" target="_blank" data-lightbox="cakes"><img class="img-fluid" src="../assets/images/desert-1.jpg" data-lightbox="cakes"></a></div>
      </div>
      <div class="col-md-4">
          <div class="card"><a href="../assets/images/desert-2.jpg" target="_blank" data-lightbox="cakes"><img class="img-fluid" src="../assets/images/desert-2.jpg" data-lightbox="cakes"></a></div>
      </div>
      <div class="col-md-4">
          <div class="card"><a href="../assets/images/desert-3.jpg" target="_blank" data-lightbox="cakes"><img class="img-fluid" src="../assets/images/desert-3.jpg" data-lightbox="cakes"></a></div>
      </div>
  </div>
</div>
<footer>
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-md-4 footer-navigation">
              <h3><a href="#">Mom &amp; Pop's Bakery</a></h3>
              <p class="links"><a href="#">Cakes</a><strong> · </strong><a href="#">Pricing</a><strong> · </strong><a href="#">Order</a><strong>&nbsp;</strong></p>
              <p class="company-name">Mom &amp; Pop's © 2019</p>
          </div>
          <div class="col-sm-6 col-md-4 footer-contacts">
              <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                  <p><span class="new-line-span">21 Revolution Street</span> Paris, France</p>
              </div>
              <div><i class="fa fa-phone footer-contacts-icon"></i>
                  <p class="footer-center-info email text-left"> +1 555 123456</p>
              </div>
              <div><i class="fa fa-envelope footer-contacts-icon"></i>
                  <p> <a href="#" target="_blank">support@company.com</a></p>
              </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-4 footer-about">
              <h4>About the company</h4>
              <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet. </p>
              <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
          </div>
      </div>
  </div>
</footer>